:root {
--raisin-black: #231f20ff;
--persian-red: #bb4430ff;
--verdigris: #7ebdc2ff;
--vanilla: #f3dfa2ff;
--linen: #efe6ddff;
  font-family: system-ui, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  /* min-width: 320px; */
  min-height: 100vh;
  background-color: var(--linen);
}
