:root {
  --kraken-purple: rgba(15, 0, 46, 1);
  --kraken-pink: rgba(239, 79, 247, 1);
  --kraken-pink-d: rgba(170, 56, 176, 1);
  --kraken-white: rgba(240, 255, 255, 1);
  font-family: system-ui, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--polynesian-blue);
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--kraken-purple);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

